<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <form action="/" method="POST">
            <table>
                <tr>
                    <td>Your Name</td>
                    <td>
                        <input type="text" name="uname">
                    </td>
                </tr>
                <tr>
                    <td>Your Password</td>
                    <td>
                        <input type="password" name="upass">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        <table>
            <tr>
                <td>Your name is {{.UserName}} </td>
            </tr>
            <tr>
                <td>Your Password is {{.UserPassword}} </td>
            </tr>
        </table>
    </div>
</body>
</html>