<!DOCTYPE html>
<!--
    Project Name  : DataStore(Store_Data)
    Document Name : index.html
    Author Name   : Quazi Tausif Ahmed
    Date          : 20/10/2017
-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Save Data</title>
</head>

<body>
    <div>
        <form action="/saveData">
            <table style="border: 3px solid black">
                <tr>
                    <td>Word</td>
                    <td><input type="text" name="word" ></td>
                </tr>
                <tr>
                    <td>Definition</td>
                    <td><input type="text" name="def"></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center"><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>