<!DOCTYPE html>
<!--
    Project Name  : Cookie
    Document Name : index.html
    Author Name   : Quazi Tausif Ahmed
    Date          : 19/10/2017
-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cookies</title>
</head>

<body>
    <div>
        <form action="/login" method="POST">
            <table>
                <tr>
                    <td>Login Id</td>
                    <td>
                        <input type="text" name="uname">
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <input type="password" name="upass">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>